<footer class="text-center py-5 mt-5">

    <hr class="border-secondary">

    <h5 class="fw-bold mb-2">
        ⚡ CryptoPulse
    </h5>

    <p class="text-secondary mb-3">
        Real-Time Cryptocurrency Analytics Platform
    </p>

    <small class="text-secondary">
        © 2026 CryptoPulse. Designed & Developed by <strong>Joshua Oladipo</strong>.
    </small>

    <br>

    <small class="text-secondary">
        Built with Flask • Python • Bootstrap • Chart.js • CoinGecko API
    </small>

</footer>