<div class="row g-4 mb-5">

    <div class="col-md-3">
        <div class="card p-4 text-center">
            <h5>🪙 Coins</h5>
            <h2>{{ "{:,}".format(global_data.get("active_cryptocurrencies", 0)) }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center">
            <h5>💰 Market Cap</h5>
            <h2>
                ${{ "{:,.1f}".format(global_data.get("total_market_cap", {}).get("usd", 0) / 1000000000000) }}T
            </h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center">
            <h5>📊 24H Volume</h5>
            <h2>
                ${{ "{:,.1f}".format(global_data.get("total_volume", {}).get("usd", 0) / 1000000000) }}B
            </h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-4 text-center">
            <h5>📈 BTC Dominance</h5>
            <h2>
                {{ "%.1f"|format(global_data.get("market_cap_percentage", {}).get("btc", 0)) }}%
            </h2>
        </div>
    </div>

</div>