<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand fw-bold fs-3" href="/">
            ⚡ CryptoPulse
        </a>

        <div class="ms-auto d-flex align-items-center gap-2">

            <a href="/"
            class="btn btn-outline-light">
                Home
            </a>

            <a href="/about"
            class="btn btn-outline-info">
                About
            </a>

            <button
                class="btn btn-outline-light"
                id="theme-toggle">

                🌙 Dark

            </button>

        </div>

    </div>

</nav>